<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Artesanos</title>
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/sidebar.css">
  <link rel="stylesheet" href="/css/inicio.css">
  <link rel="stylesheet" href="/css/album.css">
  <link rel="stylesheet" href="/css/styleHeader.css">
  <link rel="stylesheet" href="/css/auth.css">
  <link rel="stylesheet" href="/css/explorar.css">

</head>

<body>

  <%- include('./partials/header') %>
    <%- include('./partials/sidebar') %>

      <main>
        <%- body %>
      </main>

      <%- include('./partials/footer') %>
        <!--Script para el menu hamburguesa-->
        <script>
          const menuToggle = document.getElementById('menu-hamburguesa');
          const sidebar = document.getElementById('sidebar');

          menuToggle.addEventListener('click', (e) => {
            e.preventDefault();
            sidebar.classList.toggle('active');
          });

          // Cierra el menú si se hace clic fuera
          window.addEventListener('click', function (e) {
            if (!sidebar.contains(e.target) && !menuToggle.contains(e.target)) {
              sidebar.classList.remove('active');
            }
          });
        </script>
        <!--Script para el dropdown de notificaciones-->
        <script>
          const btnNotificaciones = document.getElementById('btn-notificaciones');
          const dropdown = document.getElementById('dropdown-notificaciones');

          btnNotificaciones.addEventListener('click', function (e) {
            e.preventDefault();
            dropdown.style.display = dropdown.style.display === 'none' || dropdown.style.display === '' ? 'block' : 'none';
          });

          // Cierra el dropdown si se hace clic fuera
          window.addEventListener('click', function (e) {
            if (!dropdown.contains(e.target) && !btnNotificaciones.contains(e.target)) {
              dropdown.style.display = 'none';
            }
          });
        </script>

        <script>
          window.USER_ID = "<%= user ? user.id : '' %>";
        </script>


        <script src="/socket.io/socket.io.js"></script>

        <script src="/js/notificaciones.js"></script>
</body>

</html>