<main class="explorar">
  <h2>游깴 츼lbumes p칰blicos recientes</h2>
  <p class="descripcion-explorar">
    Descubre las 칰ltimas creaciones compartidas por los artesanos de nuestra comunidad. Explora 치lbumes p칰blicos y
    conoce su arte sin necesidad de iniciar sesi칩n.
  </p>
  <form method="get" action="/explorar" class="form-busqueda">
    <input type="text" name="titulo" placeholder="Buscar por nombre de 치lbum" value="<%= query.titulo || '' %>">

    <fieldset>
      <legend>Filtrar por etiquetas</legend>
      <% etiquetasDisponibles.forEach(etiqueta=> { %>
        <label>
          <input type="checkbox" name="etiquetas" value="<%= etiqueta.etiquetas_id %>" <%=(query.etiquetas &&
            (Array.isArray(query.etiquetas) ? query.etiquetas.includes(etiqueta.etiquetas_id.toString()) :
            query.etiquetas===etiqueta.etiquetas_id.toString())) ? 'checked' : '' %> >
          <%= etiqueta.nombre %>
        </label>
        <% }); %>
    </fieldset>

    <button type="submit">Buscar</button>
  </form>


  <% if (albumes.length> 0) { %>
    <div class="galeria-explorar">
      <% albumes.forEach(album=> { %>
        <div class="card-album">
          <% if (album.imagen_principal) { %>
            <img src="<%= album.imagen_principal %>" alt="Imagen del 치lbum" class="preview-album">
            <% } else { %>
              <div class="sin-imagen">Sin imagen</div>
              <% } %>

                <div class="info-album">
                  <h4>
                    <%= album.titulo %>
                  </h4>
                  <p>游녻 <strong>
                      <%= album.username %>
                    </strong></p>
                  <% if (album.descripcion) { %>
                    <p class="descripcion-album">
                      <%= album.descripcion %>
                    </p>
                    <% } %>
                      <a href="albumes/<%= album.albumes_id %>" class="btn-ir-album">Ver 치lbum</a>
                </div>
        </div>
        <% }) %>
    </div>
    <% } else { %>
      <p>No hay 치lbumes p칰blicos a칰n.</p>
      <% } %>
</main>